.copy{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: $h3;

    @media only screen and (max-width: $s-small) {
        width: 100%;
    }
}

.design{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: $h3;
    @media only screen and (max-width: $s-small) {
        width: 100%;
        padding-top: 1rem;
    }
}