*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //10px = 1rem; 

    
    @media only screen and (min-width: $ex-large) {
        font-size: 75%;
    }

    @media only screen and (min-width: $xx-large) {
        font-size: 87.5%;
    }

    @media only screen and (max-width: $x-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $x-medium) {
        font-size: 43.75%;
    }

}

body{
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    color: $font-light;
    line-height: 1.6rem;
    min-height: 100vh;
}
